* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/KannelLICENSE -text
/Makefile.am -text
/NEWS -text
/README -text
/UPGRADE -text
/acinclude.m4 -text
autotools/config.guess -text
autotools/config.sub -text
autotools/ltmain.sh -text
/bootstrap -text
/configure.in -text
doc/userguide.xml -text
example/sqlbox.conf.example -text
gw/Makefile.am -text
gw/sqlbox-cfg.def -text
gw/sqlbox.c -text
gw/sqlbox_mysql.c -text
gw/sqlbox_mysql.h -text
gw/sqlbox_pgsql.c -text
gw/sqlbox_pgsql.h -text
gw/sqlbox_sql.c -text
gw/sqlbox_sql.h -text
/sb-config.h.in -text
