/.DS_Store
/.cproject
/.cvsignore
/.dep.inc
/.project
/Makefile
/Makefile-sqlbox.mk
/autom4te.cache
/config.nice
/config.status
doc/userguide.html
doc/userguide.pdf
doc/userguide.ps
doc/userguide.rtf
gw/.deps
gw/.libs
gw/Makefile
gw/sqlbox
/libtool
/nbproject
rpm/sqlbox.spec
/sb-config.h
/stamp-h1
